body{
    margin: 0px;
    background-color: rgb(34, 34, 34);
}

h1{
    background-color: rgb(34, 34, 34);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.container{
    min-height: 10%;
    width: 100vw;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
}

.container2{
    display: flex;
    gap: 0px;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.button{
    height: 30px;
    width: 100px;
    background-color: rgb(172, 172, 172);
    font-size: large;
    border-radius: 5px;
}

.text1{
    flex: 3;
    min-width: 300px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

.text2{
    flex: 1;
    min-width: 250px;
    background-color: #e0e0e0;
    padding: 20px;
    box-sizing: border-box;
}

footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 15px;
}

@media (max-width: 500px){
    .container{
        min-height: 35%;
        flex-direction: column;
    }

    .button{
        width: 90vw;
    }

    .container2{
        flex-direction: column;
    }
}

@media (min-width: 501px) and (max-width: 768px){
    .container2{
        flex-direction: column;
    }
}